BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Allman
BreakArrays: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
ColumnLimit: 100
AlignAfterOpenBracket: Align
